.alert-container {
	@apply flex justify-self-end justify-center items-center text 
  !m-0 !p-0 w-fit pointer-events-none bg-transparent border-none;
}

.alert-box {
	/* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
	/* box-shadow: 0px 11px 20px 3px rgba(0, 0, 0, 0.75); */
	@apply p-4 relative rounded bg-interface overscroll-contain overflow-y-auto 
  max-w-[25rem] w-11/12  max-h-32 !pointer-events-auto z-[999] shadow-md;
}

@keyframes scaleDown {
	0% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}

.alert-container span.timer.isAnimating {
	transform-origin: left;
	animation: scaleDown var(--animation-duration, 0.5s) forwards; /* Use CSS variable for duration */
}
.alert-container span.timer {
	transform-origin: left;
	@apply scale-x-0;
}
